
.vs/HeyrinLib/v15/.suo
.vs/HeyrinLib/v15/Server/sqlite3/db.lock
.vs/HeyrinLib/v15/Server/sqlite3/storage.ide
.vs/HeyrinLib/v15/Server/sqlite3/storage.ide-shm
.vs/HeyrinLib/v15/Server/sqlite3/storage.ide-wal
WatchYourBoyFriend/apikey/apikeytxt.txt
WatchYourBoyFriend/bin/Debug/